* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


.box-using {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.7)), 
                    url(image/img.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}


.box-using__header {
    font-size: 4rem;
    text-align: center;
    color: #fff;
    margin-bottom: 5rem;
    letter-spacing: 1px;
}

span {
    color:  #eb5b52;
}

.box-using__input {
    padding: 1rem;
    height: 3rem;
    font-size: 1.2rem;
    outline: none;
    border: none;
}

.box-using__input--search {
    width: 35rem;
}

.box-using__input--location {
    width: 15rem;
}

.box-using__btn {
    width: 8rem;
    height: 3rem;
    background-color: #eb5b52;
    color: #fff;
    font-size: 1rem;
    border: none;
}

.box-using__btn:hover {
    background-color: #b02820;
}

.box-using__form {
    padding: 1rem;
    background-color: rgb(255,255,255,0.4);
}